@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

::-moz-selection {
  background: #0099ff;
  color: white;
}

::selection {
  background: #0099ff;
  color: white;
}

a,
button,
h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Container {
  width: 950px;
  margin: auto;
}

.sectionTitle {
  text-align: center;
  margin: 10px auto 30px auto;
}

.sectionTitle .line {
  width: 70px;
  margin: 10px auto;
  height: 5px;
  background: #0099ff;
  border-radius: 5px;
}

.sectionTitle p {
  color: #616161;
}

.sectionTitle h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  padding-bottom: 5px;
  color: #ff008c;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0px;
  background: linear-gradient(45deg, rgba(0, 5, 5, 0.925), rgba(0, 1, 2, 0.918));
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

nav h2 a {
  text-decoration: none;
  font-family: "Goldman", cursive;
  color: white;
  text-shadow: 1px 1px 5px black;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul li {
  list-style: none;
  margin: 0px 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav ul li a:hover {
  color: white;
  text-shadow: 1px 2px 5px white;
}

header {
  padding: 50px 0px;
  min-height: 75vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, right top, left top, from(#00000050), to(#00000010)), url(../img/headerbg.jpg);
  background: linear-gradient(to left, #00000050, #00000010), url(../img/headerbg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

header #HederDesc {
  width: 400px;
}

header #HederDesc h1 {
  color: #0099ff;
  text-shadow: 1px 2px 5px black;
  font-family: "Work Sans", sans-serif;
  font-size: 2.2rem;
}

header #HederDesc p {
  color: white;
  padding: 5px 0px;
}

header #HederDesc a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 30px;
  font-size: 1.1rem;
  border: 2px solid #0099ff;
  color: #0099ff;
  margin: 10px 0px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 5px;
}

header #HederDesc a:hover {
  background: #0099ff;
  color: white;
}

#Services {
  padding: 50px 0px;
}

#Services #ServiceBoxWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0px;
}

#Services #ServiceBoxWrapper .singleServiceBox {
  width: 300px;
  text-align: center;
  padding: 20px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#Services #ServiceBoxWrapper .singleServiceBox:hover {
  -webkit-box-shadow: 1px 2px 10px #575757;
          box-shadow: 1px 2px 10px #575757;
}

#Services #ServiceBoxWrapper .singleServiceBox h2:first-child {
  font-size: 3rem;
  background: linear-gradient(45deg, #ff008c, #0099ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#Services #ServiceBoxWrapper .singleServiceBox h2:nth-child(2) {
  color: #0099ff;
}

@media screen and (max-width: 1024px) {
  .Container {
    width: 750px !important;
  }
  header #HederDesc {
    width: 500px;
  }
}

@media screen and (max-width: 768px) {
  * {
    cursor: default !important;
  }
  .Container {
    width: 95% !important;
  }
  header {
    height: 90vh;
  }
  header #HederDesc {
    width: 100%;
  }
  header #HederDesc h1 {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */