<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>DevR - Build Your Own Website</title>
  </head>
  <body>
    {{>navBar}}
    <header>
      <div class="Container">
        <div id="HederDesc">
          <h1>Welcome to DevR</h1>
          <p>
            Build you dream website. With you own choices and preferences. Which
            will be responsive and pixel perfect.
          </p>
          <a href="https://devr.netlify.app/about" rel="noopener noreferrer"
            >About</a
          >
        </div>
      </div>
    </header>
  </body>
</html>
