<footer>
  <ul>
    <li>
      <a href="http://devr.netlify.app"
        ><i class="fas fa-sign-out-alt"></i> Website</a
      >
    </li>
    <li>
      <a href="http://www.github.com/ratul-oss"
        ><i class="fab fa-github"></i> Github</a
      >
    </li>
    <li>
      <a href="https://dev.to/ratuloss"><i class="fab fa-dev"></i> DEV</a>
    </li>
    <li>
      <a href="https://stackoverflow.com/users/14715506/devr"
        ><i class="fab fa-stack-overflow"></i> Stackoverflow</a
      >
    </li>
  </ul>
</footer>
