<nav>
  <h2>DevR</h2>
  <ul>
    <li>
      <a
        href="https://devr.netlify.app/contact"
        target="blank"
        rel="noopener noreferrer"
        >About</a
      >
    </li>
    <li>
      <a
        href="https://devr.netlify.app/about"
        target="blank"
        rel="noopener noreferrer"
        >Contact</a
      >
    </li>
  </ul>
</nav>
