<nav>
  <h2><a href="/">DevR</a></h2>
  <ul>
    <li>
      <a href="https://devr.netlify.app/contact" rel="noopener noreferrer"
        >Contact</a
      >
    </li>
    <li>
      <a href="/getstarted" rel="noopener noreferrer">Get Started</a>
    </li>
  </ul>
</nav>
